## STOCK PRICE PREDICTION FOR NETFLIX 
## Objective:
    .The primary objective of this dataset is to facilitate research and analysis in the area of stock price prediction for     Netflix. The dataset may serve as a foundation for developing and evaluating predictive models that can assist traders,     investors, and analysts in making informed decisions related to Netflix's stock.
## Description:
    .The provided dataset encompasses historical stock price data for Netflix Inc., covering a period of 5 years from 5th           February 2018 to 5th February 2022. The dataset has been curated to aid researchers, analysts, and investors in the       challenging task of predict stock prices.
## Dataset Features:
    1.Date: The date of each trading day within the specified time frame.
    2.Open: The opening price of Netflix stock on each trading day.
    3.High: The highest price reached by Netflix stock during the trading day.
    4.Low: The lowest price reached by Netflix stock during the trading day.
    5.Close: The closing price of Netflix stock on each trading day.
    6.Adj Close: The adjusted closing price of Netflix stock on each trading day. The adjusted closing price accounts for         any corporate actions, such as stock splits or dividends, that occurred during the trading period, providing a more         accurate representation of the stock's value.
    7.Volume: The trading volume of Netflix stock on each trading day, representing the total number of shares traded.
## Steps
    Importing Libraries

    Read Data

    Data Preprocessing

    Feature Engineering

    Model Training

## Importing the libraries

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree

## Read data 
    .Assuming the "Netflix Stock Price Prediction Dataset" is in CSV format, here's how the data might be represented:

In [2]:
df=pd.read_csv("D:/DS NOTE/PROJECT/Netflix data.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [3]:
# train_test_split 
train,test= train_test_split(df, train_size=0.5, shuffle=True , random_state=150)

In [4]:
# train_test_split save as csv
train.to_csv('D:/DS NOTE/PROJECT/files/train/raw/trian.csv',index=False)
test.to_csv('D:/DS NOTE/PROJECT/test/raw/test.csv',index=False)